<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerlinks}}
</head>

<body>
    {{>navbar}}
    <!-- Main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-12 col-12 main_header_left align-items-center     " >
                        <figure class="errimg">
                            <img src="images/Theories1.png" class="img-fluid"alt="">
                        </figure>
                  
                  
                        
                        <h1>404 Error</h1>
                        <a href="/" target="_blank"><button>Go Back</button></a>
                 
                    <!-- right side div -->
                      </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer code -->
      {{>footer}}
</body>

</html>