<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerlinks}}
</head>

<body>
    {{>navbar}}
    <!-- Main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right" >
                        <figure>
                            <img src="images/Theories1.png" class="img-fluid"alt="">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left" >
                        <p>Welcome on Today's Weather </p>
                        <h1>I am the Graduate Student</h1>
                        <a href="http://www.linkedin.com/in/akashsky200" target="_blank"><button>About Me</button></a>
                    </div>
                    <!-- right side div -->
                    
                </div>
            </div>
        </div>
    </div>

    <!-- footer code -->
      {{>footer}}
</body>

</html>